@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
}

:root {
    --page-color: #1A0B2E;
    --linear-gradient: linear-gradient(47.64deg,#F7E93F,#FB09B4,#9100F8);
}


.open-sans-fonts {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* Usable Sample */
body {
    background-color: var(--page-color);
    color: white;
}

.navbar {
    max-width: 1600px;
    padding: 16px 200px;
    display: flex;
    justify-content:space-around;
    
}

.navbar span{
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu {
    display: flex;
    gap: 32px;
}

.btn {
    padding: 12px 16px;
    border: none;
    background: var(--linear-gradient);
    border-radius: 10000px;

}