@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Full CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    --page-color: #1A0B2E;
    --linear-gradient: linear-gradient(47.64deg,#F7E93F,#FB09B4,#9100F8);
}


.open-sans-fonts {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
    background-color: var(--page-color);
    color: white;
}

.navbar {
    max-width: 1600px;
    min-height: 92px;
    margin: 0 auto;
    padding-bottom: 1rem;
    display: flex;
    justify-content:space-around;
    border-bottom: 2px solid rgba(128, 128, 128, 0.128);
    align-items: center;
    
}

.navbar span ,.footer-container span{
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}
.hamburger-menu{
    display: none;
}

.btn {
    padding: 0.75rem 1rem;
    border: none;
    background: var(--linear-gradient);
    border-radius: 2rem;

}

/* Hero Section Styles */

.hero-container {
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    background: url("./assets/hero-bg.png") center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-bg-image {
    position: relative;
    margin: 0 auto;
}


.circle {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.microphone {
    position: absolute;
    top: 10.625rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin: 0 auto;
}

.hero-text {
    margin-top: 2rem;
    text-align: center;
}

.hero-text-title {
    font-size: 3rem;
}

.hero-btn{
    margin-top: 1.5rem;
}

.btn-2{
    padding: 0.75rem 1rem;
    color: green;
    border: 2px solid green;
    background: transparent;
    border-radius: 2rem;
}

.hero-container{
    position: relative;
}

.tooltip{
    padding: 0.5rem 1rem;
    color: black;
    background:#00FF88;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    border: none;
    border-radius: 2rem;
    position: absolute;
    margin-top: -32.5rem;
    margin-left: 4.375rem;
    z-index: 5;
    font-size: 1.125rem;
    font-weight: 600;
    animation: Zoompulse 1.5s ease-in-out infinite;
}

@keyframes Zoompulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

/* About Section Styles */
.about-info{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.about-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;

}

.about-description{
    max-width:1000px;
    width: 100%; 
    font-size: 1rem;
    font-weight:400;
    opacity:0.6;
    line-height: 1.25rem;
    /* padding: 1rem; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.217);
    padding-bottom: 3.5rem;
    margin: 0 auto;
}

.about-stat{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5rem;
    justify-items: center;
}

.stat1 h2{
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.5rem;
    color: #00FF88;
}
.stat1 p{
    text-transform: uppercase;
}

/* Grid Styles Start */
.why-techwave {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 1.25rem;
}

.section-title {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(3, auto);
  gap: 1.5rem;
}

.card-wide, .card{
  background: rgba(53, 17, 101, 0.4); 
  /* #2a124d */
  border-radius: 1.25rem;
  padding: 1.5rem;
}

.card h3 {
  margin: 1rem 0 0.625rem;
  font-size: 1.125rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.6;
}

.icon {
  font-size: 1.75rem;
}

.card.tall {
  grid-row: span 2;
}

.card-wide {
  grid-column: span 2;
}
/* Grid styles end */

/* .episode-container{
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    justify-content: center;
    
}

.episode1{
    padding: 1.25rem;
    border-radius: 1.5rem;
    background: rgba(37, 13, 68, 1);
} */

.episode-container {
    max-width: 1200px;
    min-height: 100%;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0 auto;
    /* padding: 0 1rem; */
}

.episode-main-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem;

}

.episode1 {
    /* padding: 1.25rem; */
    border-radius: 1.5rem;
    background: rgba(37, 13, 68, 1);
    text-align:left;
}

.episode1 iframe {
    width: 100%;
    border-radius: 1rem;
}


@media (max-width: 576px) {
    .episode-container {
        grid-template-columns: 1fr;
    }
}


.host-parent{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 2.5rem;
    background: rgba(53, 17, 101, 0.4);
    margin-bottom: 6rem;
}

.host-image{
    padding: 1rem;
}

.host-container>h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem 0;
  }

.host-info{
    max-width: 1200px;
    width: 100%;
    padding: 1rem;
}

.social-icons{
    display: flex;
    margin-top: 12px;
    gap: 12px;
    justify-content:flex-start;
    align-items: center;
    width: 40px; height: 40px;
}

.social-icons img{
    box-sizing: border-box;
    border: 1px solid rgba(83, 60, 114, 1);
    padding: 3px;
    border-radius: 50%;
}


/* Footer Style Start */

.footer-container{
    background-image: url("./assets/footer-bg.png");
    background-size: cover;         
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 412px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.footer-container h2{
    font-size: 4rem;
    font-weight: 700;
}

.footer-icons{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}



/* Footer Style End */



/* Small Device Responsive Upto 576px */
@media (max-width: 576px) {

    body {
        overflow-x: hidden;
    }

    .navbar {
        margin: 12px 16px;
        padding-bottom: 12px;
        justify-content: space-between;
    }

    .nav-menu {
        display: none;
    }

    .hamburger-menu{
    display:flex;
    justify-content: end;
}

    .navbar .btn {
        /* padding: 10px 14px;
        font-size: 14px; */
        display: none;
    }

    /* Hero Section */
    .hero-container {
        max-width: 1200px;
        height: auto;
        padding: 80px 16px 60px;
        text-align: center;
        justify-content: center;
    }

    .hero-bg-image {
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: center;
    }

    .circle {
        width: 70%;
        margin: 0 auto;
    }

    .microphone {
        width: 20%;
        top: 50%;
    }

    .hero-text {
        margin-top: 24px;
        padding: 0 12px;
    }

    .hero-text-title {
        font-size: 32px;
        line-height: 1.2;
    }

    .hero-text p {
        
        font-size: 14px;
        margin-top: 8px;
    }

    .hero-btn {
        margin-top: 20px;
        display: flex;
        /* flex-direction: column; */
        gap: 12px;
        align-items: center;
    }

    .btn-2 {
        padding: 10px 14px;
        font-size: 14px;
    }

.hero-container{
    position: relative;
}
    .tooltip{
    padding: 0.5rem 0.625rem;
    color: black;
    background:#00FF88;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    border: none;
    border-radius: 2rem;
    position: absolute;
    margin-top: -360px;
    margin-left: 60px;
    z-index: 5;
    font-size: 16px;
    font-weight: 600;
}



/* Rsponsive start */

  .about-info,
  .about-description,
  .about-stat,
  .host-parent,
  .footer-container {
    /* min-width: 100%; */
    max-width: 1200px;
  }

  .about-title {
    font-size: 24px;
  }

  .about-description {
    max-width: 320px;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 12px;
  }

  .about-stat {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 40px;
  }

  .stat1 h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .stat1 p {
    font-size: 12px;
  }

  .section-title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .card.tall,
  .card-wide {
    grid-column: span 1;
    grid-row: span 1;
  }

  .episode-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .episode-title{
    font-size: 1rem;
  }

  .episode-info{
    font-size: 1rem;
    font-weight: 400;
  }


.host-parent {
  max-width: 1200px;
  width: calc(100% - 2rem);
  height: 100vh;
  flex-direction: column;
  border-radius: 24px;
  text-align: center;
  margin: 1rem;
  box-sizing: border-box;
}


  .host-container>h2{
    text-align: center;
    margin: 2rem 0;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
  }

  .footer-container {
    height: auto;
    background-size: cover;
    background-position: center;
  }

/* Responsive End */
}