@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
}

:root {
    --page-color: #1A0B2E;
    --linear-gradient: linear-gradient(47.64deg,#F7E93F,#FB09B4,#9100F8);
}


.open-sans-fonts {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
    background-color: var(--page-color);
    color: white;
}

.navbar {
    max-width: 1600px;
    max-height: 92px;
    margin: 16px 200px;
    padding-bottom: 16px;
    display: flex;
    justify-content:space-around;
    border-bottom: 2px solid rgba(128, 128, 128, 0.128);
    align-items: center;
    
}

.navbar span{
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu {
    display: flex;
    gap: 32px;
}

.btn {
    padding: 12px 16px;
    border: none;
    background: var(--linear-gradient);
    border-radius: 10000px;

}

/* Hero Section Styles */

.hero-container {
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto;
    background: url("./assets/hero-bg.png") center / cover no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-bg-image {
    position: relative;
}


.circle {
    width: 100%;
    position: relative;
    z-index: 1;
}

.microphone {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hero-text {
    margin-top: 30px;
    text-align: center;
}

.hero-text-title {
    font-size: 48px;
}

.hero-btn{
    margin-top: 24px;
}

.btn-2{
    padding: 12px 16px;
    color: green;
    border: 2px solid green;
    background: transparent;
    border-radius: 10000px;
}